@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



:root {
  --primary-color: #ff7000;
  --secondary-color: #001a35;
  --primary-font: "Poppins";
  --white: #ffffff;
}


/* Nav Start */
#main_nav {
  background: var(--white);
  box-shadow: 2px 2px 3px rgba(0,0,0,.1);

}

.navbar-brand img {
  width: 130px;
}

.navbar-nav li {
  padding-left: 15px;
}

.navbar-nav li a {
  font-weight: 500;
  font-size: 18px;
  color: var(--secondary-color);
  font-family: var(--primary-font);
  transition: .3s ease;
}

.navbar-nav li a:hover {
  color: var(--primary-color);
}

.navbar_btn a {
  padding: 7px 20px;
  background-color: #ff7000;
  border-radius: 5px;
  text-decoration: none;
  color: var(--white);
  font-family: var(--primary-font);
  font-size: 15px;
  transition: .3s ease;
  border: 1px solid var(--primary-color);

}

.navbar_btn a:nth-child(2) {
  margin-left: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--white);
  font-family: var(--primary-font);
  font-size: 15px;
}

.navbar_btn a:hover {
  background: var(--white);
  color: var(--primary-color);
}

@media screen and (max-width:991px) {
  .navbar_btn a:nth-child(2) {
    display: block;
    margin-left: 0px;
    margin-top: 20px;
    text-align: center;
  }

  .navbar_btn a {
    display: block;
    text-align: center;
  }

}

/* Nav End */

/* sign_up Start */
#sign_up {
    padding: 30px 0 0 0;
}

.sign_up_wrapper {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: auto;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.sign_up_heading h1 {
    font-size: 25px;
}

.sign_up_heading p {
    font-size: 15px;
    margin: 0px !important;
    padding: 0px !important;
}

.sign_up_content form label {
    display: block;
    margin-top: 10px;
    font-weight: 700;
}

.sign_up_content form  input {
    width: 100%;
    padding: 5px;
    outline: none;
}

.sign_up_content form button {
    width: 100%;
    display: block;
    text-align: center;
    padding: 8px;
    border: 1px solid var(--primary-color);
    background: var(--white);
    color: var(--primary-color);
    font-weight: 500;
    border-radius: 5px;
    transition: .3s ease;
}


.sign_up_content form button:hover{
    background: var(--primary-color);
    color: var(--white);
    
}

.loging_gmail button {
    width: 100%;
    padding: 2px !important;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: var(--white);
    transition: .3s ease;
    font-size: 18px;
    font-weight: 600;
}

.loging_gmail button:hover{
    background: var(--primary-color);
    color: var(--white) !important;
   
}
.loging_github button {
    width: 100%;
    padding: 2px !important;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: var(--white);
    transition: .3s ease;
    font-size: 16px;
    font-weight: 600;
}

.loging_github button:hover{
    background: var(--primary-color);
    color: var(--white);
   
}

.github_image {
    width: 33px;
}

.forget_password {
    text-align: center;
    margin-top: 20px;
}

.forget_password h5 {
    font-size: 13px;
}

.forget_password h5 a {
    text-decoration: none;
}
/* sign_up End */


/* Copy Right Start */
#copy {
  padding: 10px 0;
  background: var(--primary-color);
}

.copy_right h1 {
  text-align: center;
  font-size: 16px;
  color: var(--secondary-color);
}


@media screen and (max-width:601px) {
  .copy_right h1 {
    font-size: 13px;
  }

}

/* Copy Right End */