@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ff7000;
  --secondary-color: #001a35;
  --primary-font: "Poppins";
  --white: #ffffff;
}

/* Nav Start */
#main_nav {
  background: var(--white) !important;
}

.navbar-brand img {
  width: 130px;
}

.navbar-nav li {
  padding-left: 15px;
}

.navbar-nav li a {
  font-weight: 500;
  font-size: 18px;
  color: var(--secondary-color);
  font-family: var(--primary-font);
  transition: 0.3s ease;
}

.navbar-nav li a:hover {
  color: var(--primary-color);
}

.navbar_btn a {
  padding: 7px 20px;
  background-color: #ff7000;
  border-radius: 5px;
  text-decoration: none;
  color: var(--white);
  font-family: var(--primary-font);
  font-size: 15px;
  transition: 0.3s ease;
  border: 1px solid var(--primary-color);
}

.navbar_btn a:nth-child(2) {
  margin-left: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--white);
  font-family: var(--primary-font);
  font-size: 15px;
}

.navbar_btn a:hover {
  background: var(--white);
  color: var(--primary-color);
}

@media screen and (max-width: 991px) {
  .navbar_btn a:nth-child(2) {
    display: block;
    margin-left: 0px;
    margin-top: 20px;
    text-align: center;
  }

  .navbar_btn a {
    display: block;
    text-align: center;
  }
}

/* Nav End */

/* Hero  Start */

#hero {
  margin-top: 60px;
}
.hero_image img {
  width: 100%;
  height: 100vh;
}

.hero_image {
  position: relative;
}

.hero_heading {
  display: block;
  align-items: center;
  left: 9%;
  position: absolute;
  top: 35%;
}

.hero_heading img {
  width: 350px;
}

.hero_heading p {
  color: var(--white);
  font-family: var(--primary-font);
  font-size: 16px;
  margin-top: 30px;
  width: 650px;
}

@media screen and (max-width: 401px) {
  .hero_heading p {
    font-size: 13px;
  }

  .hero_heading img {
    width: 300px;
  }
}

@media screen and (max-width: 900px) {
  .hero_heading p {
    font-size: 16px;
    width: 100%;
  }
}

/* Hero  End */

/* Companies Start */
#companie {
  padding: 40px 0;
}

.compainie_heading h1 {
  text-align: center;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

.compaine_cards {
  display: flex;
  gap: 30px;
  flex-direction: row;
  justify-content: space-between;
}

.compaine_card {
  width: 20%;
  border: 1px solid #d9d9d9;
  padding: 20px;
  margin-top: 50px;
  background: #ffffff;
  transition: 0.4s ease;
}

.compaine_card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),
    0 6px 10px 0 rgba(0, 0, 0, 0.19), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}

.compaine_card img {
  width: 100%;
}

@media screen and (max-width: 770px) {
  .compaine_cards {
    flex-direction: column;
  }

  .compaine_card {
    width: 100%;
  }
}

/* Companies End */

/* Recent Job Start */

/* product menu tabs */

.recent_job_heading h1 {
  text-align: center;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

.recent_job_content {
  padding: 30px;
}

.recent_job_content {
  width: 100%;
  background: #f8f3f3;
  border: 1px solid rgba(206, 133, 34, 0.8);
}

.product_menu_tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0 40px;
}

.product_menu_item_tab {
  list-style: none;
  margin: 0;
  padding: 0;
  width: calc(100% - 100px);
  display: flex;
  align-items: center;
  margin: 0;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.product_menu_item_tab::-webkit-scrollbar {
  display: none;
  width: 0;
}

.product_menu_item_tab li {
  margin: 0 10px;
  padding: 8px 20px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 1.1em;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.5s;
}

.product_menu_item_tab li.active,
.product_menu_item_tab li:hover {
  background: var(--primary-color);
  color: var(--white);
  border: 1px solid var(--bg-color);
}

.product_menu_item_tab li:first-child {
  margin-left: 0;
}

.product_menu_item_tab li:last-child {
  margin-right: 0;
}

.product_tab_arrow_icon i {
  width: 45px !important;
  height: 45px;
  font-size: 1.4em;
  color: var(--secondary-color);
  display: flex;
  border-radius: 50% !important;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.5s;
}

.product_tab_arrow_icon i:hover {
  background: linear-gradient(
    120deg,
    rgba(0, 44, 83, 1),
    rgba(206, 133, 34, 1)
  );
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
}

.product_tab_arrow_icon:first-child {
  margin-right: 10px;
}

.product_tab_arrow_icon:last-child {
  margin-left: 10px;
}

.product_menu_item_tab.productDragging {
  scroll-behavior: auto;
  cursor: grab;
}

.product_menu_item_tab.productDragging .product_menu_tab_btn {
  user-select: none;
}

/* product menu content */

.product_menu_item {
  width: 100%;
  height: 330px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  margin-bottom: 25px;
  position: relative;
  transition: 0.5s;
}

.product_menu_item img {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.product_menu_item:hover .product_menu_item img {
  opacity: 0.3;
}

.product_menu_item:hover .product_menu_item_btn {
  opacity: 1;
}

.product_menu_content .product_menu_tab_content {
  display: none;
  animation: productTabContenAnimate 0.8s ease;
}

@keyframes productTabContenAnimate {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.product_menu_content .product_menu_tab_content.active {
  display: block;
}

.recent_job_content_text a:nth-child(1) {
  text-decoration: none;
  font-size: 20px;
  font-family: var(--primary-font);
  color: var(--secondary-color);
  background: none !important;
  border: none !important;
}

.recent_job_content_text a {
  margin: 6px;
  padding: 10px 20px;
  background: var(--primary-color);
  border-radius: 4px;
  text-decoration: none;
  color: var(--white);
  border: 1px solid var(--primary-color);
  transition: 0.4s ease;
}

.recent_job_content_text a:hover {
  background: var(--white);
  color: var(--primary-color);
}

.recent_job_content_btn {
  display: flex;
  justify-content: end;
  align-items: end;
}

.recent_job_content_btn a {
  margin: 6px;
  padding: 10px 20px;
  background: var(--primary-color);
  border-radius: 4px;
  text-decoration: none;
  color: var(--white);
  border: 1px solid var(--primary-color);
  transition: 0.4s ease;
  font-weight: 500;
}

.recent_job_content_btn a:hover {
  background: var(--white);
  color: var(--primary-color);
}

.recent_job_content_texts a {
  margin: 6px;
  padding: 10px 20px;
  background: var(--primary-color);
  border-radius: 4px;
  text-decoration: none;
  color: var(--white);
  border: 1px solid var(--primary-color);
  transition: 0.4s ease;
  font-weight: 500;
}

.recent_job_content_texts a:hover {
  background: var(--white);
  color: var(--primary-color);
}

.job_wapper {
  border: 1px solid rgba(206, 133, 34, 0.8);
  padding: 40px 40px 40px 40px;
  background: #f8f3f3;
}

@media screen and (max-width: 770px) {
  .recent_job_content_texts a {
    display: block;
    text-align: center;
  }

  .recent_job_content_text a {
    display: block;
    text-align: center;
  }

  .recent_job_content_btn {
    margin-top: 20px;
  }

  .recent_job_content_btn {
    display: flex;
    justify-content: start;
    align-items: start;
  }
}

/* Recent Job End */

/* Copy Right Start */
#copy {
  padding: 10px 0;
  background: var(--primary-color);
}

.copy_right h1 {
  text-align: center;
  font-size: 16px;
  color: var(--secondary-color);
}

@media screen and (max-width: 601px) {
  .copy_right h1 {
    font-size: 13px;
  }
}

/* Copy Right End */
